{% load staticfiles %}
<html>
<head>
<title> Ritesh's Blog!! </title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet" type ="text/css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type ="text/css">
</head>
<body>
  <div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
        <h1><a href="/">Ritesh's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  <!-- <div>
      <h2><a href="http://www.manutd.com/Splash-Page.aspx"> ManchesterUnited </a></h2>
      <p> This is the most richest club and also has great history in making of the club. </p>
      <p> Published 07-19-2017 7:57pm </p>
  </div> -->
</body>
</html>
