<html>
<head>
<title> Ritesh's Blog!! </title>
</head>
<body>
  <div>
       <h1><a href=""> Ritesh's Blog </a></h1>
  </div>
  {% for post in posts %}
  <div>
       <p> publiahed: {{post.published_date}}</p>
       <h1><a href="https://www.fcbarcelona.com/">{{post.title}} </a></h1>
       <p> {{post.text|linebreaksbr}} </p>

  </div>
  {% endfor %}
  <!-- <div>
      <h2><a href="http://www.manutd.com/Splash-Page.aspx"> ManchesterUnited </a></h2>
      <p> This is the most richest club and also has great history in making of the club. </p>
      <p> Published 07-19-2017 7:57pm </p>
  </div> -->
</body>
</html>
